/** ===================================== EDITS by Aaron - as of 10/11/21 ============================================== **/


@charset "UTF-8";

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {                /* Added by Aaron -
                        <<< NOTE -> 'header' and 'navbar' seem to be the same thing...? >>> */
  background: lightskyblue; /* overriden by the 'navbar' background element - delete later... */
  padding: 15px;
  padding-top: 4em;
}

body {             /*  --> Added by Aaron --> work on this later... */
  margin: auto;    /* --> Fix for the weird white border issue we had earlier, due to the user agent stylesheet... */
}

.navbar {               /* Added by Aaron - try messing around with this... */
  background: slategray;
  text-align: right;
  /*position: fixed;    -> kinda want to make this 'static' so it doesn't disappear when scrolling up... not a big priority
  width: 100%;*/
}


/**********************************/
/*      'nav-link' changes        */
/**********************************/

/*ORIGINAL classname for 'navbar' elements
.nav-link {             /* Added by Aaron --> Changes aspects of the 'navbar' links
  color: white;
  font-size: 1.1em;
  /*background-color: blue;
  padding: 5px;
  padding-right: 1.5em;
}*/


/*NEW classnames for 'navbar' elements*/
/* - University Services - */
.nav-link1 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  /*transform: skew(-20deg);   does not work... --- not a high priority at this point --- */
  text-decoration: none;
  font-weight: bold;
}

/* - Staff Directory - */
.nav-link2 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  text-decoration: none;
  font-weight: bold;
}

/* - Week 1 Survival Pack - */
.nav-link3 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  text-decoration: none;
  font-weight: bold;
}

/* - What to expect at University - */
.nav-link4 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  text-decoration: none;
  font-weight: bold;
}

/* - FAQs and Testimonials - */
.nav-link5 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  text-decoration: none;
  font-weight: bold;
}

/*************************************/


.login-link {           /* Added by Aaron --> Changes aspects of the 'Login' navbar link - separate to the other links */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-decoration: none;
  font-weight: bold;
}

/*************************************/
/*            Login Form             */
/*************************************/

#loginForm {            /* NEW - general div settings */
  padding-top: 2em;
  padding-bottom: 5em;
}

#loginFormBackground {  /* NEW - small stylish background for the login form */
  background-color: #2ba3ff;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 10px;
  width: 40%;
  margin:auto;
  /*justify-content: center;
  align-content: center;*/
}

#loginForm input{       /* NEW - textbox settings */
  box-sizing: border-box;
  margin: auto;
  width: 60%;
  padding: 12px 20px;
}

/******************************************************************/
/*     Banner Settings for each page (except Staff Directory)     */
/******************************************************************/

#bannerSettings h1 {       /* edits banners - renamed from 'uniServices' */
  background-color: #2ba3ff;
  color: white;
  padding: 10px;
  margin-top: auto;
  font-size: 1.5em;
}


#infoCreationForm input {     /* works - from InfoCreationForm */
  margin: auto;
  width: 30%;
  padding: 12px 20px;
}

#infoBlock {                  /* works - alters the blocks of info when they are created */
  background-color: #2ba3ff;
  color: white;
  padding-top: 1em;
  padding-bottom: 1.5em;
  border-radius: 10px;
  width: 40%;
  margin:auto;
}

/*#uniServices hr{    -> mess with this later
  height: 2em;
  border-color: red;
  border-width: 2em;
}*/

/*************************************/
/*       Staff Directory page        */
/*************************************/


#staffDirectory h1 {    /* leave this for now... */
  background-color: #2ba3ff;
  color: white;
  text-align: left;
  margin-top: auto;
  padding: 10px;
  padding-left: 1em;
  padding-right: 4em;
  padding-bottom: 10em;
  font-size: 1.5em;
  width: fit-content;   /* maybe use something else later... */
}



/*************************************/
/*    Week 1 Survival Pack page      */
/*************************************/


/*#week1SurvivalPack h1 {     -> irrelevant now 
  background-color: #2ba3ff;
  color: white;
  padding: 10px;
  margin-top: auto;
  font-size: 1.5em;
}

#w1spContent{ /* !!! THIS will be deleted later... !!!
  background-color: lightskyblue;
  width:fit-content;
  padding: 10px;
  margin: 0;
}

/*#week1SurvivalPack h2 {
  background-color: lightskyblue;
  width: fit-content;
}*/


/***************************************/
/*  What to expect at University page  */
/***************************************/


/*#uniExpectations h1 {
  background-color: #2ba3ff;
  color: white;
  padding: 10px;
  margin-top: auto;
  font-size: 1.5em;
}*/


/*************************************/
/*    FAQs and Testimonials page     */
/*************************************/


/*#FAQsAndTestimonials h1 {
  background-color: #2ba3ff;
  color: white;
  padding: 10px;
  margin-top: auto;
  font-size: 1.5em;
}*/


/*************************************/
/*          Footer Settings          */
/*************************************/


spacer {
  color: red;
  padding:5em;
}


footer {               /* Added by Aaron */
  background: slategray;
  color: white;
  padding: 10px 10px 10px 10px;
  position: relative;     /* making it FIXED sets it to the bottom but it never disappears and may block content, making it RELATIVE detatches it from the bottom 
                          but creates a massive gap at the bottom until content is placed on the page */
  bottom: 0;
  width: 100%;      

}

footer h3{
  font-weight: normal;
}

footer p{
  text-align: left;
}

/** ========================================= END OF CHANGES ============================================ **/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
