/** ===================================== EDITS by Aaron - as of 7/11/21 ============================================== **/

@charset "UTF-8";

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {                /* Added by Aaron - 
                        <<< NOTE -> 'header' and 'navbar' seem to be the same thing...? >>> */
  background: lightskyblue; /* overriden by the 'navbar' background element - delete later... */
  padding: 15px;
  padding-top: 3em;
}

body {             /*  --> Added by Aaron --> work on this later... */
  margin: auto;    /* --> Fix for the weird white border issue we had earlier, due to the user agent stylesheet... */
}

.navbar {               /* Added by Aaron - try messing around with this... */
  background: slategray;
  text-align: right;
  /*position: fixed;    -> kinda want to make this 'static' so it doesn't disappear when scrolling up... not a big priority
  width: 100%;*/
}


/**********************************/
/*      'nav-link' changes        */
/**********************************/

/*ORIGINAL classname for 'navbar' elements
.nav-link {             /* Added by Aaron --> Changes aspects of the 'navbar' links 
  color: white;
  font-size: 1.1em;
  /*background-color: blue;
  padding: 5px;
  padding-right: 1.5em; 
}*/


/*NEW classnames for 'navbar' elements*/
/* - University Services - */
.nav-link1 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  /*transform: skew(-20deg);   does not work... --- not a high priority at this point --- */
  text-decoration: none;
  font-weight: bold;
}

/* - Staff Directory - */
.nav-link2 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  text-decoration: none;
  font-weight: bold;
}

/* - Week 1 Survival Pack - */
.nav-link3 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  text-decoration: none;
  font-weight: bold;
}

/* - What to expect at University - */
.nav-link4 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  text-decoration: none;
  font-weight: bold;
}

/* - FAQs and Testimonials - */
.nav-link5 {            /* !!! IMPORTANT - classname "nav-link" has been changed for this navbar element... remember this - if problems arise, change classname back to "nav-link" in Body.tsx... */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right: 3em;    /* !!! Creates spacing between each navbar link (given that each navbar element has a different 'classname')*/
  text-decoration: none;
  font-weight: bold;
}

/*************************************/


.login-link {           /* Added by Aaron --> Changes aspects of the 'Login' navbar link - separate to the other links */
  color: white;
  border-radius: 5px;
  background-color: blue;
  padding: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-decoration: none;
  font-weight: bold;
}

/*************************************/
/*     University Services page      */
/*************************************/

#uniServices h1 {       /* Added by Aaron - alters aspects of the 'University Services' banner/title 
                          NOTE: 'div id' was added to the div in 'UniversityServices.tsx' */
  background-color: #2ba3ff;
  color: white;
  padding: 10px;
  margin-top: auto;
  font-size: 1.5em;
}

/*#uniServices hr{    -> mess with this later
  height: 2em;
  border-color: red;
  border-width: 2em;
}*/

/*************************************/
/*       Staff Directory page        */
/*************************************/


#staffDirectory h1 {    /* leave this for now... */
  background-color: #2ba3ff;
  color: white;
  text-align: left;
  margin-top: auto;
  padding: 10px;
  padding-left: 1em;
  padding-right: 4em;
  padding-bottom: 10em;
  font-size: 1.5em;
  width: fit-content;   /* mayyybe use something else later... */
}

/*#staffDirectory hr{
  padding: 0%;
}*/


/*************************************/
/*    Week 1 Survival Pack page      */
/*************************************/


#week1SurvivalPack h1 {
  background-color: #2ba3ff;
  color: white;
  padding: 10px;
  margin-top: auto;
  font-size: 1.5em;
}

#w1spContent{ /* !!! THIS will be deleted later... !!! */
  background-color: lightskyblue;
  width:fit-content;
  padding: 10px;
  margin: 0;
}

/*#week1SurvivalPack h2 {
  background-color: lightskyblue;
  width: fit-content;
}*/


/***************************************/
/*  What to expect at University page  */
/***************************************/


#uniExpectations h1 {
  background-color: #2ba3ff;
  color: white;
  padding: 10px;
  margin-top: auto;
  font-size: 1.5em;
}


/*************************************/
/*    FAQs and Testimonials page     */
/*************************************/


#FAQsAndTestimonials h1 {
  background-color: #2ba3ff;
  color: white;
  padding: 10px;
  margin-top: auto;
  font-size: 1.5em;
}



footer {               /* Added by Aaron */
  background: slategray;
  color: white;
  padding: 10px 10px 10px 10px;
  position:fixed;     /* works buut try something else... */
  bottom: 0;
  width: 100%;      
}

footer h3{
  font-weight: normal;
}

footer p{
  text-align: left;
}

/** ========================================= END OF CHANGES ============================================ **/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
